name: Bundle Extension

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  bundle-extension:
    runs-on: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6

      - name: Vendorize Core Logic
        run: uv run python-vendorize

      - name: Get build script
        working-directory: packages/tree_clipper_addon/src
        run: curl https://raw.githubusercontent.com/blender/blender/refs/tags/v5.0.0/scripts/addons_core/bl_pkg/cli/blender_ext.py --output blender_ext.py

      - name: Build Blender extension bundles
        working-directory: packages/tree_clipper_addon/src/tree_clipper_addon
        run: uv run --python 3.11 ../blender_ext.py build

      - name: Generate index.json for easy updates
        working-directory: packages/tree_clipper_addon/src/tree_clipper_addon
        run: uv run --python 3.11 ../blender_ext.py server-generate --repo-dir=./

      - uses: actions/upload-artifact@v4
        with:
          name: tree-clipper-extension
          path: |
            packages/tree_clipper_addon/src/tree_clipper_addon/index.json
            packages/tree_clipper_addon/src/tree_clipper_addon/*.zip